.home_main{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 91px;
    padding-top: 120px;
    padding-left: 63px;
    padding-bottom: 120px;
}

.home_description{
    display: flex;
    width: 778px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 57px;
}

.home_button{
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 15px;
    background: #FFC059;
    color: rgb(0, 0, 0);
    font-size: 21px;
    border: none;
    border-radius: 24px;
    margin-top: 10px;
    cursor: pointer;
}

.home_button:hover{
    background: #ffb641;
}


.home_description > h1{
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home_image{
    width: 987.789px;
    height: 658px;
}

.home_image > img{
    width: auto;
    height: 100%;
}
