.footer{
    background: #EC9704;   
    display: flex;
    height: 17vh;
    justify-content: space-around;    
    align-items: center;
    padding-bottom: 0.1vh;
}


.footer_description{
    display: flex;
    gap: 10vh;
}

.footer_description > p{
    font-size: 2.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_social > p{
    margin-bottom: 1.6vh;
    font-size: 2.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_message {
    display: flex;
    gap: 2.7vh;
}

.footer_message > div{
    width: 6vh;
    height: 6vh;
}

.footer_message > div > img{
    width: auto;
    height: 100%;
}