
.cart_book{
    width: 220px;
}

.cart_book > div{
    height: 330px;
    width: 100%;
}

.cart_book > div > img{
    height: 100%;
    width: auto;
}

.cart_book > p {
  padding-left: 15px;
  text-align: left;
  white-space: nowrap;        
  overflow: hidden;           
  text-overflow: ellipsis;   
}

