.header{
    background-color: rgba(236, 151, 4, 1);
    height: 10.8vh;
    padding: 0vh 3.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left{
    display: flex;
    align-items: center;
    gap: 6.8vh;

}

.header_logo{
    width: 5.6vh;
    height: 5.6vh;
}

.header_logo > img{
    width: auto;
    height: 100%;
}

.header_search{
    border-radius: 2.6vh;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    padding: 0.5vh 1vh;
    width: 30.5vh;
    height: 3.8vh;
}

.header_search > input{
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    font-size: 1.7vh;
}
.header_search_link{
    width: 3.2vh;
    height: 3.2vh;
    cursor: pointer;
}
.header_search_link > img{
    width: auto;
    height: 100%;
}

.header_right{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.6vh;

}

.header_right > p{
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_avatar{
    width: 4.1vh;
    height: 4.1vh;
}

.header_avatar > img{
    width: auto;
    height: 100%;
}

.header_dropmenu {
    cursor: pointer;
  width: 2.6vh;
  height: 2.6vh;
  transition: transform 0.1s ease;
}

.rotated {
  transform: rotate(180deg);
}

.header_dropmenu > img{
    width: auto;
    height: 100%;
}

.dropdown_menu {
  position: absolute;
  top: 6.5vh;
  right: -0.1vh;
  background-color: rgb(219, 219, 219);
  border-radius: 0.8vh;
  box-shadow: 0vh 0.4vh 1.2vh rgba(0, 0, 0, 0.15);
  list-style: none;
  padding: 1vh 0;
  margin: 0;
  width: 16.3vh;
  z-index: 1000;
}

.dropdown_menu li {
  padding: 1vh 2.1vh;
}

.dropdown_menu li:hover {
  background-color: #999999;
}

.dropdown_menu_link {
  text-decoration: none;
  color: black;
  font-size: 1.74vh;
}

.auth_link {
  padding: 8px 2.1vh;
  background: #D9D9D9;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 2.1vh;
  font-weight: 600;
  font-size: 1.74vh;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.auth_link:hover {
  background-color: #f3f3f3;
  color: #000000;
}

