.header{
    background-color: rgba(236, 151, 4, 1);
    height: 100px;
    padding: 0px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left{
    display: flex;
    align-items: center;
    gap: 63px;

}

.header_logo{
    width: 52px;
    height: 52px;
}

.header_logo > img{
    width: auto;
    height: 100%;
}

.header_search{
    border-radius: 24px;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    width: 280px;
    height: 35px;
}

.header_search > input{
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    font-size: 16px;
}

.header_search > img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.header_right{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.header_right > p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_avatar{
    width: 38px;
    height: 38px;
}

.header_avatar > img{
    width: auto;
    height: 100%;
}

.header_dropmenu {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}

.header_dropmenu > img{
    width: auto;
    height: 100%;
}

.dropdown_menu {
  position: absolute;
  top: 60px; /* чуть ниже аватара */
  right: -10px;
  background-color: rgb(219, 219, 219);
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  list-style: none;
  padding: 10px 0;
  margin: 0;
  width: 150px;
  z-index: 1000;
}

.dropdown_menu li {
  padding: 10px 20px;
}

.dropdown_menu li:hover {
  background-color: #999999;
}

.dropdown_menu a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
