.link{
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-left: 40px;
    gap: 10px;
    text-decoration:none;
}

.link > div{
    width: 35px;
    height: 35px;
}

.link > div > img{
    width: auto;
    height: 100%;
}

.link > p{
    margin: 8px;
    color: #EC9704;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}