.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 42px 0px;
  font-family: sans-serif;
}

.containerAddBook  h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 420px;
}

.containerAddBook  input,
.containerAddBook select,
.containerAddBook textarea,
.containerAddBook button {
  border: none;
  border-radius: 8px;
  padding: 16px;
  font-size: 16px;
  background: #e0e0e0;
  outline: none;
}

.containerAddBook  select {
  appearance: none;
  background-image: url("/icons/dropmenu.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}

.containerAddBook textarea {
  resize: none;
}

.fileItem {
  display: flex;
  align-items: center;
  background-color: #ccc;
  border-radius: 6px;
  padding: 6px 10px;
  margin-bottom: 8px;
  position: relative;
}

.fileName {
  flex-grow: 1;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.filesContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.removeBtn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 0 6px;
}

.addFileBtn {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #ddd;
  border: 2px dashed #aaa;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}


.selectedFile {
  margin-top: 6px;
  font-size: 14px;
  color: #444;
}


.fileDrop {
  background: #e0e0e0;
  border: 2px dashed #aaa;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fileItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
}

.removeBtn {
  background: transparent;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.addFileLabel {
  display: block;
  margin-top: 4px;
  text-align: center;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}


.containerAddBook .submit {
  background: #FFC65C;
  color: black;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}


.imagePreview{
  width: 32px;
  height: 32px;
}

.imagePreview > img{
  width: auto;
  height: 100%;
}

