.auth-container {
  min-height: 100vh;
  width: 100%;
  background-color: #EC9704;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}

.auth-main {
  padding: 5vh 5vw;
  border-radius: 2.4vh;
  background: #F0F0F0;
  width: 90%;
  width: 90vh;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.auth_title {
  padding-bottom: 2vh;
  text-align: center;
  font-size: 4vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.auth_input {
  width: 90%;
  padding: 2vh;
  margin: 1vh 0;
  border: none;
  border-radius: 1vh;
  background-color: #d9d9d9;
  font-size: 2vh;
  box-sizing: border-box;
}

.auth_button {
  width: 90%;
  padding: 2vh;
  background: #FFAB4B;
  color: rgb(0, 0, 0);
  font-size: 2.2vh;
  border: none;
  border-radius: 1vh;
  margin-top: 2vh;
  cursor: pointer;
}

.auth_button:hover {
  background-color: #ff9900;
}

.auth_description {
  padding-top: 2vh;
}

.auth_description p {
  margin: 2vh 0 1vh;
  font-size: 2vh;
  color: #333;
}

.link {
  font-size: 2vh;
  color: #f5a623;
  text-decoration: none;
  margin-left: 0.5vh;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

.auth_error {
  color: red;
  font-size: 2vh;
  margin: 0;
}

.auth_input_error {
  border: 0.1vh solid red;
}
.auth_hint {
  font-size: 12px;
  color: #888;
  margin-top: -8px;
  margin-bottom: 10px;
}
