.container-comment {
  border: 1px #bdbdbd;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 16px;
  background-color: #ffffff;
  max-width: 600px;
}

.info-comment {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.avatar-comment img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.user-comment {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.user-comment >p{
    margin: 2px;
}

.username {
  font-weight: bold;
}

.date {
  color: gray;
  font-size: 12px;
}

.rating-comment {
  display: flex;
  gap: 2px;
  margin-left: 20px;
  margin-right: 80px;

  /* margin: auto 60px; */
}

.rating-comment img {
  width: 30px;
  height: 30px;
}

.review-actions {
  display: flex;
  gap: 10px;
}

.like-comment, .dislike-comment {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.description-comment {
  margin-left: 10px;
  margin-top: 15px;
  font-size: 17px;
}
