.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 40px 50px;
  border-radius: 20px;
  width: 600px;
  position: relative;
  text-align: center;
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close img {
  width: 20px;
  height: 20px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.textarea { 
  width: 95%;
  min-height: 150px;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #ccc;
  resize: none;
  margin-bottom: 30px;
  font-size: 16px;
}

.rating {
  margin-bottom: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.star,
.starFilled {
  font-size: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.star {
  color: #ccc;
}

.starFilled {
  color: #f4b400;
}

.addButton {
  background-color: #ffa726;
  color: white;
  border: none;
  padding: 14px 35px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.addButton:hover {
  background-color: #fb8c00;
}
